*{
    margin: 0;
    padding: 0;
}
.bigBox{
    width: 100%;   
}

b{
    font-size: 11px;
}
input{
    border: 0;
    outline:none;
}
.minbox{
    margin-left:10px ;
}
.head{
    width: 100%;
    height: 50px;
    background-color:pink;
}

.head h5{
    text-align: center;
    color: aliceblue;
    padding-top: 8px;
}

.post input {
    margin-top: 8px;
    width: 100%;
    border-bottom:1px solid #999 ;
}
